.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  position: relative;
}

.img {
  object-fit: contain;
}

.formContainer {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input,
.form textarea {
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--bgSoft);
  color: var(--text);
}

.form textarea{
  resize: none;
}

.form button {
  padding: 20px;
  background-color: var(--btn);
  color: var(--text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 980px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .imgContainer {
    width: 50%;
  }

  .formContainer {
    width: 80%;
    padding: 10px;
  }
}

@media (max-width: 768px){
  .imgContainer {
    width: 65%;
  }

  .formContainer {
    width: 100%;
  }
}